@import "variables";
@import "theme";
@import "keyframes";

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1600px;
    margin: auto;
    font-family: $line-family;
    font-size: $line-size;
    line-height: $line-height;
}

// Sidhuvud
header {
    background-color: $header-footer-background;
    color: $main-background;
    @include flexBox(space-around, center, row);
    width: 100%;
    padding: 2%;
    border: 3px solid $hover-color;
}
h1 {
    a{
        text-decoration: none;
        color: $main-background;
        &:hover {
            color: $hover-color;
            text-decoration: underline;
        }
    }
}

// Navigerings-meny
#navlist {
    list-style-type: none;
    @include flexBox(space-evenly, center, row);
    
    li {
        margin: 0 2%;
    }
    li a {
        text-decoration: none;
        color: $main-background;
        padding: 0 2%;
        &:hover {
            color: $hover-color;
            text-decoration: underline;
        }
    }
    .actual-side {
        color: $hover-color;
        text-decoration: underline;
    }
}

// Dölj meny-knappar
.menu-btn {
    display: none;
}


// Maxbred för paragrafer
p {
    max-width: 60ch;
}
main {
    margin: 5% 0;
    @include flexBox(center, center, column);
    width: 100%;
    h2 {
        margin: 2% 0;
    }
    p {
        margin: 2%;
    }
    h3 {
        margin-top: 2%;
    }
    section {
        margin: 0 4%;
        h3, h4 {
            margin-top: 2%;
        }
        p {
            margin-top: 0;
        }
        ul {
            padding: 0 4%;
        }
    }

}

// Bilder
.pics-div {
    margin-top: 3%;
    @include flexBox(space-evenly, center, column)
}
.pics {
    width: 60%;
    margin: 1% 0;
}
.images {
    width: 100%;
}

// Knapp i animgeringssida
@property --color-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: gold;
}
@property --color-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: darkblue;
}
#play-btn {
    --color-1: gold;
    --color-2: darkblue;
    margin: 4%;
    padding: 0.5% 2%;
    font-size: $line-size;
    background: linear-gradient(45deg,var(--color-1), var(--color-2));
    cursor: pointer;
    transition: --color-1 1s, --color-2 1s;
    &:hover {
        animation: shadowEffect 0.5s 0s forwards linear;
        --color-1: darkblue;
        --color-2: gold;
    }
}
// Bilder i Animeringssida
.pics-container {
    @include flexBox(space-evenly, center, row);
    .pictures {
        width: 40%;
        height: 15%;
        margin: 5% 0;
    }
    .img {
        width: 100%;
        height: 100%;
    }
}

// Stapeldiagram
#stapel-diagram {
    width: 80%;
    height: 80%;
    margin: 8% 0;
}
#circle-diagram {
    width: 80%;
    height: 80%;
    margin: 8% 0;
}
footer {
    // @include flexBox(center, center, column);
    width: 100%;
    padding: 2%;
    @extend main ;
    color: $main-background;
    background-color: $header-footer-background;
    margin-bottom: 0;
}

// Stilsättning för ljust läge
@media (prefers-color-scheme: light) {    
    body {
        @include color-theme(light);
    }
}


// Stilsättning för mörkt läge
@media (prefers-color-scheme: dark) {    
    body {
        @include color-theme(dark);
    }
}

// Stilsättningar för mindre skärmer
@media screen and (max-width: 800px) {
    
    // meny-knappar i mobilläge
    .menu-btn {
        display: block;
        background-color: $hover-color;
        padding: 0.5%;
        cursor: pointer;
        .menu-icon {
            @include flexBox(center, center, column);
        }
        .bars {
            margin: 4% 0;
            padding: 6% 30%;
            background-color: $main-background;
        }
        .menu-text {
            color: $main-background;
        }
        &:hover {
            background-color: black;
        }
    }

    // Stäng-knapp
    #close-btn {
        align-self: flex-start;
        margin: 0 2%;
        .menu-icon {
            margin: 20% 0;
            
        }
        .cross1 {
            transform: rotate(45deg);
            margin-top: 20%;
            top: 1%;
        }
        .cross2 {
            transform: rotate(135deg);
            margin-top: -18%;
            top: 1%;
        }
        
    }
    
    // Navigeringslista
    #navlist {
        @include flexBox(space-around, center, column);
        position: absolute;
        top: 0;
        right: 0;
        background-color: $header-footer-background;
        width: 50vw;
        height: 400px;
        overflow: hidden;
    }

    // Öppna och stänga menyn
    nav {
        display: none;
    }

    // Bilder
    .pics {
        width: 80%;
    }
    

}
